html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 2px;
    border: 1px solid slateblue;
    /* mediumpurple */
}

::-webkit-scrollbar-thumb {
    background: rebeccapurple;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkmagenta;

}